/* font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;*/



/* body set with background color and graphic with stars and moon*/



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #293c53;
    background-repeat: no-repeat;
    background-size: 140%;
    background-image: url(../css-images/moon&stars.gif);
    background-size: 52% 50%;
  }
  
  /* Setting navbar style*/

  nav {
    background-color: #b0a36c;
    font-family: 'Montserrat Alternates', sans-serif;
    
  }

  nav ul a {
    color: #DDE1E9;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: large;
  }

  nav .brand-logo {
    color: #DDE1E9;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: xx-large;
    padding-left: 2%;
  }

  /* setting main content styles*/
  #main {
    /*flex: 1 0 auto;*/
    margin-top:150px !important;

  }
  


  /* carousel style */
  .carousel {

    /*margin-top: 30%;*/
    background-color: #E7BD42;

  }

  .card {
    margin-top: 30%;
    background-color: #C29F38;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 60em;
    height: 34rem;
    padding: 2%;
    
  }

  .carousel-item {
    background-color: #C29F38;
    font-family: 'Montserrat', sans-serif;
    
  }

  h1 {
    font-size: 5vw;
  }

  /*  Buttons */

  .btn {
    background-color: #293c53;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: bolder;
  }

  .btn:hover {
    background-image: url(https://media.giphy.com/media/raJa0mPRFe8zC/giphy.gif);
   
  }


  /*testing Carousel Buttons- YJK*/

  .controlButton {
    top: 50%;
    display: inline-block;
    border:none;
    outline: none;
    padding: 1.5%;
    font-size: 20px;
    color: #ddd;
    
  }

  .controlButton:hover {
    background: #888888;
    background-image: url(https://media.giphy.com/media/raJa0mPRFe8zC/giphy.gif);
  
  }

  /*RW changing border sizing for arrows to percentages*/

  .arrow {
    border: solid #ddd;
    border-top: 0;
    border-left: 0;
    border-right: .2%;
    border-bottom: .2%;
    display: inline-block;
    padding: 100%
  }
  
  .buttonright {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .buttonleft {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

/*testing Carousel Buttons- YJK

  /* footer style */
  
  .page-footer {
    margin-top: 25%;
    background-color: #b0a36c;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #DDE1E9;

  }

  .navColor {
    color: #DDE1E9;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  /* Tarot Card styling */
  
  .flip {
    transform: scaleY(-1);
  }

  .card-size {
   
    width: 25%;
   }
 
   .card-format {
     background-color: #C29F38;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     margin-bottom: 25px;
   }




/* About Tarot CSS */
#aboutTarot{
 
  height: 110%;

}




  /* CONTACT CSS */

#contactTeam {

  margin-left: 23%;
  color: #DDE1E9;
}

#mainform {

  width:960px;
  margin-left: 15%;
  padding-top:20px;
  float: right;
  font-family: 'Montserrat Alternates', sans-serif;
}

#form {

  border-radius:2px;
  padding: 2% 3%;
  box-shadow:0 0 15px;
  font-size:14px;
  font-weight:bold;
  width:70%;
  /* margin:20px 250px 0 35px; */
  margin: 10% 12% 0 10%;
  float: right;
  background-color: #E7BD42;
  font-family: 'Montserrat Alternates', sans-serif;
}

h3 {
  text-align: center;
  font-size:20px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;

}
input {

  width:100%;
  height:35px;
  margin-top:5px;
  border:30px solid  #293c53;
  border-radius:3px;
  padding:5px;
}
input[type=button]{

  background-color:#123456;
  border:1px solid white;
  font-size:18px;
  color:white;
}

textarea {

  width:100%;
  height:80px;
  margin-top:5px;
  border-radius:3px;
  padding:5px;
  resize:none;
}

/* span {

  color:red
} */

#note {

  color:black;
  font-Weight:400;
  
}

#returnmessage {

  font-size:14px;
  color:green;
  text-align:center;

}




/* Celtic Cross CSS*/

.spread {
  width: 20%;
}


#column1, #column3 {

  margin-top: 150px;

}

#sideways {
  
  width: 69px;
  height: 48px;

}



#fullspread {

  margin-top: 5%;
  
}

/* 10 Card Spread: YJK*/

#celticContainer{
  position: fixed;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 1;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.celticPos{
  font-weight: bold;
  text-decoration: underline;
}

#celticBox{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 260%;
  background-color: #C29F38;
  color: white;
}


.cardnum {
  text-align: center;
  color: grey;
  font-size: 150%;
  margin: 0;
  padding: 0;
}

div #main .container{
  margin-top:150px !important;

}

